<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Verify your email</title>
</head>
<body>
  <h2>Hello {{name}}! </h2>
  <p>Welcome aboard to our system. The next step is to verify your account. Please go to the next <a href={{link}}>link</a> to verify your account.</p>
  <p>Warning: Do not share this link to anybody.</p>
  <p>If the link above does not work, go to this site:</p>
  <p>{{link}}</p>
  <p>Please do not reply to this email.</p>
</body>
</html>